<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-firebaseauthphone" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>FirebaseAuthPhone</name>

    <js-module name="FirebaseAuthPhone" src="www/FirebaseAuthPhone.js">
        <clobbers target="FirebaseAuthPhone" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="FirebaseAuthPhone">
                <param name="android-package" value="cordova.plugin.firebaseauthphone.FirebaseAuthPhone" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        <source-file src="src/android/FirebaseAuthPhone.java" target-dir="src/cordova/plugin/firebaseauthphone/FirebaseAuthPhone" />
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="FirebaseAuthPhone">
                <param name="ios-package" value="FirebaseAuthPhone" />
            </feature>
        </config-file>
        <source-file src="src/ios/FirebaseAuthPhone.m" />
    </platform>

</plugin>